
<!DOCTYPE html>

<html lang="en">
<head>
	<title>Gurukul - The Vedic School</title>
	<meta charset="UTF-8">
	<meta name="description" content="WebUni Education Template">
	<meta name="keywords" content="webuni, education, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link rel="shortcut icon" href="https://www.gurukulthevedicschool.com/static/webuni/img/gsvlogo.jpg">

	<!-- Google Fonts -->
	<meta name="description" content="WebUni Education Template">
	<meta name="keywords" content="webuni, education, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->


	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://www.gurukulthevedicschool.com/static/webuni/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://www.gurukulthevedicschool.com/static/webuni/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="https://www.gurukulthevedicschool.com/static/webuni/css/owl.carousel.css"/>
	<link rel="stylesheet" href="https://www.gurukulthevedicschool.com/static/webuni/css/style.css"/>
	<link rel="stylesheet" href="https://www.gurukulthevedicschool.com/static/webuni/css/freelancer.css"/>
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger"  href="/"></a>
		  <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menu

		  </button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto" >
		<li class="nav-item mx-0 mx-lg-1">
			<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">Home</a>
		</li>
		<li class="nav-item mx-0 mx-lg-1">
			<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/about/">About Us</a>
		</li>
		<li class="nav-item mx-0 mx-lg-1">


				<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/course">Courses</a>

		</li>

		<!-- <li class="nav-item mx-0 mx-lg-1">
			<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/krijo/klase">Create Classes</a>
		</li>
		<li class="nav-item mx-0 mx-lg-1">
			<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/krijo/lende">Create Subject</a>
		</li> -->
		<!-- <li class="nav-item mx-0 mx-lg-1">
			<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/krijo/mesim">Create Lesson</a>
		</li> -->



		<li class="nav-item mx-0 mx-lg-1">
			<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/blog/">Blog</a>
		</li>
		<li class="nav-item mx-0 mx-lg-1">
			<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/contact/">Contact</a>
		</li>

		
		<li class="nav-item mx-0 mx-lg-1">
			<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger act" href="/accounts/login/">Log In</a>
		</li>
		<li class="nav-item mx-0 mx-lg-1">
			<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger act" href="/accounts/signup/">Register</a>
		</li>
		

		</ul>
		  </div>
		</div>
	  </nav>

 





<!-- Hero section -->
<section class="hero-section set-bg fixformobile fixfordesktop" data-setbg="https://www.gurukulthevedicschool.com/static/webuni/img/gsvbg.jpg">
  <div class="container">
    <div class="hero-text text-white">
      

       <!--   <h2 style ="color:black"> The best free online courses</h2>-->
          
          <!--<p style ="color:black">Gurukul School of Vedas is an online platform for teaching school lectures by a dedicated staff of experienced teachers and trainers who will make learning easier in an easy way through videos.</p>
        </div>-->
       <!-- <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <form method="post" action="/search/" class="intro-newslatter"> <input type="hidden" name="csrfmiddlewaretoken" value="BDndENUbjmBl58CTYZEnMHjydQsdUSJ6qqKdmW9WDuYOQlV6vmMXmkT5iyCbabhm">
              <input  name="search" type="text" placeholder="Kerko kursin">
              <button type="submit" class="site-btn">Search the Course</button>
            </form>
          </div>-->
    </div>
  </div>
</section>
 <!--Hero section end -->

<!-- categories section -->
<section class="categories-section spad">
  <div class="container" >
    <div class="section-title">
           <!-- <h2>The best free online courses</h2>
           <p>Gurukul School of Vedas is an online platform for teaching school lectures by a dedicated staff of experienced teachers and trainers who will make learning easier in an easy way through videos.</p>-->


           <!--  <h2 id="kurset" >Categories and Classes</h2>
          <p>The lessons are divided into different categories according to their classes and level. You must first register and then attend the class to which you belong.</p>-->
            <h2>GURUKUL – THE VEDIC SCHOOL</h2>

            <p>Gurukul aims at holistic development. Here we are, aiming towards bringing into the limelight the wonders of what Vedic studies can do to the overall development of a child.
            Vedic education is designed in such a way that a student will be prepared to face all phases and obstacles in life.
            In the words of Vivekananda - " Vedas are without a beginning and an end. Vedas are the accumulation of spiritual laws."
            Here at Gurukul- The Vedic School, we focus on our ROOTS and take its essence to implement the antique tricks & techniques in the modern era.
            Taking one leap at a time, we hold the vision to carry it globally and bring back the ancient culture's glory.
            </p>

            

      </div>
      <hr style="height:2px;border-width:0;color:#ddae3f;background-color:#ddae3f">
      <div class="section-title">
        <h2>COURSES</h2>

            <p>Striving to bring back the Vedic Education into practice, Gurukul focuses on inculcating Vedic Sutras into modern minds. Please go to courses section to check out what we offer or click on Read More.
        
              </p>
            
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/course"> <button type="button" onclick="myFunction()" id="myBtn"  class="btn btn-primary" >Read More</button></a>
            

            </div>
            <hr style="height:2px;border-width:0;color:#ddae3f;background-color:#ddae3f">
            <div class="section-title">
             
            
              <h2>Our Blog</h2>
      
                  <p>Gurukul comes up with various facts and stories about the Vedic era. For weekly updates please go to blog section or click on Read more to know more about interesting content.
                  </p>
                  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/blog/"> <button type="button" onclick="myFunction()" id="myBtn"  class="btn btn-primary" >Read More</button></a>
                  </div>
                  <hr style="height:2px;border-width:0;color:#ddae3f;background-color:#ddae3f">
        <!--<div class="row">
          
          <!-- categorie -->
          <!--<div data-aos="zoom-in" class="col-lg-4 col-md-6">
            <div class="categorie-item">
              <div class="ci-thumb set-bg" data-setbg="/media/cat_images/merge1.png"></div>
              <div class="ci-text">

                <h5>Qwerty</h5>

                <p>Waserdthjl;,</p>
                <span><a class="btn btn-success" href="/courses/1">Look at the subjects</a></span>
              </div>
            </div>
          </div>-->
        
    <!--</div>-->
  </div>
</section>
<!-- categories section end -->
<!-- course section end -->







	<!-- banner section -->
	<section class="banner-section spad">
		<div class="container">
			<div class="section-title mb-0 pb-2">
				<h2>Join our Community !</h2>
				<p>Learn online lessons and free school lessons through videos and communication with teachers and other Gurukul School of Vedas members. It's very simple, the only thing you need to do is Register. Click below: </p>
			</div>
			<div class="text-center pt-5">
				<a href="/accounts/signup/" class="site-btn">Register Now</a>
			</div>
		</div>
	</section>
	<!-- banner section end -->



	<!-- footer section -->
	<footer class="footer-section spad pb-0">
		<div class="footer-top">
			<div class="footer-warp">
				<div class="row">
					<div class="widget-item fixfordesktop">
						<h4>Contact Information</h4>
						<ul class="contact-list">
							<li>Gurkul<br>The Vedic School</li>
							<li>+91 XXXXXXXX</li>
							<li><a href="mailto:gurukulthevedicschool@gmail.com">gurukulthevedicschool@gmail.com</a></li>
						</ul>
					</div>
					<!--<div class="widget-item fixfordesktop">
						<h4>Class</h4>
						<ul>
							<li><a href="">Mathematics</a></li>-->
							<!-- <li><a href="">Literature & Language</a></li>
							<li><a href="">Chemistry</a></li>
							<li><a href="">Biology</a></li>
							<li><a href="">Programming, etc</a></li> -->
						<!--</ul>
					</div>-->
					<!-- <div class="widget-item">
						<h4>Staffs</h4>
						<ul>
							<li><a href="">Teachers</a></li>
							<li><a href="">Awards</a></li>
							<li><a href="">The best Performers</a></li>
							<li><a href="">Blogs</a></li>

						</ul>
					</div> -->
					<div class="widget-item fixfordesktop">
						<h4>Follow us on :</h4>
						<ul>
							<!--<li><a href="">YouTube</a></li>
							<li><a href="">Facebook</a></li>-->

							<!--<li><a href="">Twitter</a></li>-->
						<li><a class="specialsym" href="https://www.linkedin.com/company/gurukul-school-for-vedas"><i class="fa fa-linkedin" aria-hidden="true"> Linkedin </i></a></li>
							<li><a class="specialsymb" href="https://www.instagram.com/_vedicschool_"><i class="fa fa-instagram" aria-hidden="true"> Instagram </i></a></li>

						</ul>
					</div>
					<div class="widget-item fixfordesktop">
						<h4>Class</h4>
						<ul>
							<li><a href="/course">Mathematics</a></li>
							<!-- <li><a href="">Literature & Language</a></li>
							<li><a href="">Chemistry</a></li>
							<li><a href="">Biology</a></li>
							<li><a href="">Programming, etc</a></li> -->
						</ul>
					</div>
					<!--<div class="widget-item">
						<h4>Latest News</h4>
						<form class="footer-newslatter">
							<input type="email" placeholder="E-mail">
							<button class="site-btn">Subscribe</button>
							<p>* Get the latest news by subscribing *</p>
						</form>
					</div>-->
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="footer-warp">
				<!--<ul class="footer-menu">
					<li><a href="#">Terms & Conditions</a></li>
					<li><a href="#">Register</a></li>
					<li><a href="#">Privacy</a></li>
				</ul>-->
				<div class="" style="text-align:center">
	Copyright &copy; Gurukul School of Vedas <script>document.write(new Date().getFullYear());</script> All rights reserved.
</div>
			</div>
		</div>
	</footer>
	<!-- footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="https://www.gurukulthevedicschool.com/static/webuni/js/jquery-3.2.1.min.js"></script>
	<script src="https://www.gurukulthevedicschool.com/static/webuni/js/bootstrap.min.js"></script>
	<script src="https://www.gurukulthevedicschool.com/static/webuni/js/mixitup.min.js"></script>
	<script src="https://www.gurukulthevedicschool.com/static/webuni/js/circle-progress.min.js"></script>
	<script src="https://www.gurukulthevedicschool.com/static/webuni/js/owl.carousel.min.js"></script>
	<script src="https://www.gurukulthevedicschool.com/static/webuni/js/main.js"></script>
	<script src="https://www.gurukulthevedicschool.com/static/webuni/js/freelancer.js"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>

  </script>
</html>